// variables
$forum: "Forum", sans-serif;
$barlowCondensed: "Barlow Condensed", sans-serif;
$barlow: "Barlow", sans-serif;
$blueishWhite: #c9cbe2d2;

// Mixins
@mixin flexCont($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin gridCont($columns, $rows) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}

// Animations
@keyframes hover {
  0%,
  100% {
    box-shadow: 0 6px 9px rgba(16, 16, 16, 0.79);
  }
  50% {
    box-shadow: 0 10px 9px rgba(16, 16, 16, 0.79);
  }
}

// Media Queries
@mixin responsive($breakPoint) {
  @if ($breakPoint == tablet) {
    @media screen and (min-width: 504px) {
      @content;
    }
  }
  @if ($breakPoint == lgScreen) {
    @media screen and (min-width: 960px) {
      @content;
    }
  }
}
