@import "../Tools.scss";

.destination {
  position: relative;
  background: url("../../../public/assets/destination/background-destination-tablet.jpg")
    no-repeat center/cover;
  overflow-y: scroll;
  color: $blueishWhite;

  .content {
    .theInfo {
      @include gridCont(default, repeat(2, 1fr));
      height: 100%;

      img {
        padding-top: 2rem;
        justify-self: center;
        width: 75%;
        max-width: 380px;
      }

      .overview {
        @include flexCont(column, center, center);
        height: 110%;
        align-self: start;

        .places {
          @include flexCont(row, center, center);
          padding: 1rem 0;

          li {
            position: relative;
            margin: 0.3rem;
            font-family: $barlowCondensed;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;

            &::after {
              content: "";
              width: 20px;
              height: 0;
              background: #eee;
              position: absolute;
              bottom: -8px;
              left: 50%;
              transform: translateX(-50%);
            }

            &.clicked,
            &:hover {
              color: #eee;
              &::after {
                height: 2px;
              }
            }
          }
        }

        .details {
          @include flexCont(column, center, center);
          // padding-bottom: 2rem;

          .placeName {
            font-size: 6rem;
            font-family: $forum;
            text-transform: uppercase;
            margin-bottom: 0.6rem;
            color: #eee;
          }

          .description {
            font-family: $barlow;
            text-align: center;
            line-height: 1.5;
            font-size: 1.1rem;
            letter-spacing: 1px;
            padding-bottom: 2rem;
            border-bottom: 1px solid #eee;
          }

          .tripSummary {
            @include gridCont(auto, 1fr 1fr);
            gap: 1.2rem;
            padding: 2rem 0;

            p,
            h4 {
              text-transform: uppercase;
              text-align: center;
              letter-spacing: 2px;
            }

            p {
              font-family: $barlowCondensed;
              font-size: 1.3rem;
            }

            h4 {
              font-family: $forum;
              font-size: 3rem;
              color: #eee;
            }
          }
        }
      }
    }
  }

  @include responsive(tablet){
    background: url("../../../public/assets/destination/background-destination-desktop.jpg") no-repeat center/cover;
  }
}
